# R history and session files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata

# RStudio project files
.Rproj.user/
*.Rproj

# R CMD build files
/*.tar.gz
/*.Rcheck/

# Compiled objects
*.o
*.so
*.dll

# Reports and outputs
*.pdf
*.html
*.docx
*.xlsx
*.csv

# Knitr and R Markdown
*.utf8.md
*.knit.md
*.nb.html
*.Rmd.knit.md
*.Rmd.tmp
cache/
*_cache/
figure/
*.Rproj.user

# Shiny apps
rsconnect/

# Logs
*.log

# macOS system file
.DS_Store

#html file
.html
